node_modules
/UI/node_modules
/API/Data/bin/Debug/netcoreapp3.1
/API/Data/obj/Debug/netcoreapp3.1
/API/Data/obj/Release/netcoreapp3.1
/API/Data/obj
/API/EdFiVisualizationPOCRestApi/obj
/API/GraphQLApi/obj
/API/.vs/EdFiVisualizationPOC
/API/EdFiVisualizationPOCRestApi/bin/Debug/netcoreapp3.1
/API/GraphQLApi/bin/Debug/netcoreapp3.1
*.user
/API/GraphQLApi.Test/obj/Debug/netcoreapp3.1
/API/GraphQLApi.Test/obj/project.nuget.cache
/API/GraphQLApi.Test/obj/project.assets.json
/API/GraphQLApi.Test/obj/GraphQLApi.Test.csproj.nuget.g.targets
/API/GraphQLApi.Test/obj/GraphQLApi.Test.csproj.nuget.g.props
/API/GraphQLApi.Test/obj/GraphQLApi.Test.csproj.nuget.dgspec.json
/API/GraphQLApi.Tests/bin/Debug/netcoreapp3.1
/API/GraphQLApi.Tests/obj
