@import "../../Theme/mixins";

.portrait__wrapper {
  width: 6rem;
  height: 6rem;
  border: 1px solid $primary;
  border-radius: .1rem;
  @include flex-center;
  font-size: 6rem;
  background-color: $dark-light;

  .portrait__photo {
    object-fit: cover;
    border-radius: .1rem;
  } 
}

.parent-info-row {
  @include light-bottom-border;
}


ul.indicator-list {
  list-style: none; /* Remove default bullets */
}

ul.indicator-list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $secondary; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1rem; /* Also needed for space (tweak if needed) */
  margin-bottom: .25rem;
}