@import "../Theme/mixins";

.ReactCollapse--collapse {
  transition: height 200ms;
}

.collapse-arrow {
  @include transition(all .2s ease);
  float: right;
  height: 24px;
  cursor: pointer;

  &.open {
    transform: rotate(180deg);
  }

  @include responsive($md) {
    display: none;
  }
}