@import "src/Theme/variables";

$primary-color: $secondary;
$info-color: $primary-color;
$success-color: $success;
$processing-color: $secondary-dark;
$error-color: $danger;
$highlight-color: $danger;
$warning-color: $warning;